<ion-view view-title="Timeline" class="background-app">
    <ion-content class="padding">
                <section>
                    <div ng-repeat="activity in timeline" class="animated slideInUp">
                      <div class="list card">
                        <div class="item item-avatar">
                          <div class="cd-timeline-icon {{activity.icon_color}}">
                            <i class="fa {{activity.icon}} timelineIcon"> </i>
                          </div>
                          <h2 class="card-title">{{activity.title}}</h2>
                          <p>{{activity.created_at | date: "d MMM"}}</p>
                        </div>

                        <div class="item item-body">
                          <p ng-bind-html="activity.body | hrefToJS" class="timelineWidth timelineText">
                            {{activity.body}}
                          </p>
                          <p>
                            <a ng-if="(activity.appInfo.type =='mail')" class="button button-full button-balanced roboto-light" href="#/app/messages/view/{{activity.appInfo.mailId}}">View Message</a>
                          </p>
                        </div>
                      </div>
                    </div>
                </section>
    </ion-content>
</ion-view>
