<ion-side-menus  enable-menu-with-back-views="false">
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title"> <img class="header-logo" src="img/logo.png"/></h1>
        </ion-nav-bar>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="main-color">
            <h1 class="title"> <img class="header-logo" src="img/logo.png"/></h1>
        </ion-header-bar>
        <ion-content class="side_menu_bg">
            <ul class="list">
                <div class="item side_menu_item side_menu_header">
                    <img src="{{profilePhoto}}" class="profile-border side_menu_avatar">
                    <h2 class="side_menu_header_text roboto-bold">{{name}}</h2>
                    <h3 class="side_menu_header_text roboto-thin">{{role}}</h3>
                </div>
                <a href="#/app/main" class="item icon-left side_menu_item" menu-close> Timeline</a>
                <a href="#/app/messages" class="item side_menu_item" menu-close> Messages</a>
                <a href="#/app/project" class="item side_menu_item" ng-if="(role == 'Student')" menu-close> Fair Project</a>




            </ul>
          <ion-footer-bar align-title="left" class="side_menu_footer">
            <button class="button button-full button-light m-top button-clear" menu-close ng-click="logout()">Logout</button>
          </ion-footer-bar>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
