<ion-view class="background-app-login">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <img src="img/logo.png" class="splash-logo animated pulse infinite">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
