<ion-view view-title="Login" name="login-view" class="background-app-login">
  <ion-content class="padding has-footer">
    <img src="img/logo.png" class="login-logo animated zoomIn">
    <div class="list list-inset has-header">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-balanced">
    <button class="button button-full button-light m-top button-clear" ng-click="login()">Login</button>
  </ion-footer-bar>
</ion-view>
