@font-face {
  font-family: 'RobotoBold';
  src: url('fonts/RobotoBold.eot');
  src: url('fonts/RobotoBold.eot') format('embedded-opentype'),
  url('fonts/RobotoBold.woff2') format('woff2'),
  url('fonts/RobotoBold.woff') format('woff'),
  url('fonts/RobotoBold.ttf') format('truetype'),
  url('fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
  font-family: 'RobotoLight';
  src: url('fonts/RobotoLight.eot');
  src: url('fonts/RobotoLight.eot') format('embedded-opentype'),
  url('fonts/RobotoLight.woff2') format('woff2'),
  url('fonts/RobotoLight.woff') format('woff'),
  url('fonts/RobotoLight.ttf') format('truetype'),
  url('fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/RobotoRegular.eot');
  src: url('fonts/RobotoRegular.eot') format('embedded-opentype'),
  url('fonts/RobotoRegular.woff2') format('woff2'),
  url('fonts/RobotoRegular.woff') format('woff'),
  url('fonts/RobotoRegular.ttf') format('truetype'),
  url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
  font-family: 'RobotoThin';
  src: url('fonts/RobotoThin.eot');
  src: url('fonts/RobotoThin.eot') format('embedded-opentype'),
  url('fonts/RobotoThin.woff2') format('woff2'),
  url('fonts/RobotoThin.woff') format('woff'),
  url('fonts/RobotoThin.ttf') format('truetype'),
  url('fonts/RobotoThin.svg#RobotoThin') format('svg');
}
