<ion-view view-title="Messages" class="background-app" >
    <ion-content>
      <ion-refresher class="text-white"
        pulling-text="Pull to refresh..."
                     spinner="android"
        on-refresh="doRefresh()">
      </ion-refresher>
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right chat-item" ng-repeat="message in messages" type="item-text-wrap" href="#/app/messages/view/{{message.id}}">
          <img ng-src="http://local.gigasage.com:203{{message.profile_photo}}">
          <h2 ng-if="(message.read=='0')" class="ion-email-unread"> {{message.firstname}} {{message.lastname}}</h2>
          <h2 ng-if="(message.read=='1')" >{{message.firstname}} {{message.lastname}}</h2>

          <p>{{message.subject}}</p>

          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(message)">
            Delete
          </ion-option-button>
        </ion-item>
        <div class="no-msg" ng-show="!messages.length">

          <div class="row">
            <div class="col">
              <div class="text-center">
                <i class="icon ion-wand no-msg-icon"></i>
                <h1 style="text-align: center;">POOF!</h1>
                <h3 style="text-align: center;">You currently have no messages.</h3>
              </div>
            </div>
          </div>


         </div>
      </ion-list>
      </ion-content>
  <button id="fab" class="button button-positive button-fab button-fab-bottom-right" ng-click="compose()">
    <i class="icon ion-paper-airplane"></i>
  </button>
</ion-view>
