<ion-view view-title="New Message" class="background-app">
  <ion-content>
    <div class="card">
    <label class="item item-input">
      <span class="input-label">To:</span>
      <input type="text" placeholder="Username or Email" ng-model="data.username">
    </label>
    <label class="item item-input">
      <span class="input-label">Subject:</span>
      <input type="text" placeholder="Optional" ng-model="data.subject">
    </label>

    <label class="item item-input">
      <textarea placeholder="Message:" ng-model="data.body" rows="15" cols="4"></textarea>
    </label>
    </div>


    <button id="fab" class="button button-positive button-fab button-fab-bottom-right send-message-icon" ng-click="send()">
      <i class="icon ion-paper-airplane"></i>
    </button>

  </ion-content>
</ion-view>
