<ion-view view-title="{{subject}}" class="background-app">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        {{subject}}
      </div>
      <div class="item item-text-wrap">
        <p ng-bind-html="message | hrefToJS">{{message}}</p>
      </div>
      <div class="item item-divider">
        <div class="">
          <img src="{{senderPhoto}}" class="message_profile">
          <h2>{{senderName}}</h2>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
