.header-logo{
  height: 25px;
  margin-top: 10px;
}

.roboto-bold{
  font-family: "RobotoBold";
}

.roboto-light{
  font-family: "RobotoLight";
}

.roboto-regular{
  font-family: "RobotoRegular";
}

.roboto-thin{
  font-family: "RobotoThin";
}

.side_menu_bg{
  background-color: #272f41;
}

.side_menu_item{
  background-color: #272f41 !important;
  color: #ffffff !important;
  border-style: none !important;
  text-align: center;
  font-family: "RobotoThin" !important;
}

.side_menu_header_text{
  color: #fff;
}

.side_menu_avatar{
  top: 16px;
  left: 16px;
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.side_menu_header{
  color: #ffffff !important;
  background: #354a7a !important;
}

.side_menu_footer{
  background-color: #4366c7;
}

.side_menu_logout{
  width: 100%;
  margin-top: -4px;
  background-color: #4366c7;
  color: #ffffff !important;
  border-style: none !important;
  text-align: center;
  font-family: "RobotoThin" !important;
}

.card-title{
  white-space: normal !important;
}
/* --------------------------------

All the CSS needed for the timeline!

-------------------------------- */
/* --------------------------------

Paddings and margins

-------------------------------- */

.marginBottom0 {
  margin-bottom: 0;
}

.marginTop0 {
  margin-top: 0;
}

.marginTop5 {
  margin-top: 5px !important;
}



/* --------------------------------

Main components

-------------------------------- */

.timelineText {
  color: black;
}

.timelineIcon {
  font-size: 25px;
  color: white;
}

.cd-timeline-icon {
  position: absolute;
  top: 16px;
  left: 13px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #4a87ee;
  border-style: solid;
  border-width: 2px;
  padding-top: 5px;
  background: white;
  text-align: center;
}

.cd-timeline-icon i {
  color: #4a87ee;
}

.cd-timeline-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #4a87ee;
  border-style: solid;
  border-width: 2px;
  background: white;
}

.cd-timeline-picture img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}

/*COLORS*/


/*POSITIVE*/

.positive {
  border-color: #4a87ee;
}

.positive i {
  color: #4a87ee;
}


/*CALM*/

.calm {
  border-color: #43cee6;
}

.calm i {
  color: #43cee6;
}


/*BALANCED*/

.balanced {
  border-color: #66cc33;
}

.balanced i {
  color: #66cc33;
}


/*ENERGIZED*/

.energized {
  border-color: #f0b840;
}

.energized i {
  color: #f0b840;
}


/*ASSERTIVE*/

.assertive {
  border-color: #ef4e3a;
}

.assertive i {
  color: #ef4e3a;
}


/*ROYAL*/

.royal {
  border-color: #00b3fe;
}

.royal i {
  color: #00b3fe;
}

/*RED*/
.red {
  border-color: #dd4b39;
}

.red i {
  color: #dd4b39;
}

/*yellow*/
.yellow {
  border-color: #f39c12;
}

.yellow i {
  color: #f39c12;
}

/*green*/
.green {
  border-color: #00a65a;
}

.green i {
  color: #00a65a;
}

/*BLUE*/

.blue {
  border-color: #0073b7;
}

.blue i {
  color: #0073b7;
}





/*DARK*/

.dark {
  border-color: #444;
}

.dark i {
  color: #444;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.background-app {
background: #ecf0f1;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.background-app-login {
  background: #0068aa;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.m-top{
  margin-top: 0 !important;
}

.login-logo{
  padding-top: 100px;
  display: block;
  margin: auto;
  width: 90%;
}

.header-w{
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.69);
}

.main-color {
  background-color: #00b3fe;
}

.profile-border{
  border: 3px solid #d2d6de;
}

.timelineText img{
  width: 100% !important;
}

.message_profile{
  float: left;
  width: 13%;
  margin-right: 10px;
  border-radius: 50%;
}

.bar .button.button-fab.button-fab-bottom-right, .button.button-fab.button-fab-bottom-right {
  top: auto;
  right: 16px;
  bottom: 16px;
  left: auto;
  position: absolute;
}

.bar .button.button-fab, .button.button-fab {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  z-index: 9999;
  width: 56px;
  height: 56px;
  max-height: initial;
  max-width: initial;
  border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: .3s fade-in-out;
  transition: .3s fade-in-out;
  -webkit-transition-property: -webkit-transform,box-shadow;
  transition-property: transform,box-shadow;
}

.button {
  overflow: hidden!important;
}

.no-msg-icon{
  font-size: 50px;
}

.no-msg{
  margin-top: 90px;
}

.splash-logo{
  padding-top: 200px;
  display: block;
  margin: auto;
  width: 90%;
}


.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.bg-red, .bg-yellow, .bg-green{
  color: #fff !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-yellow{
  background-color: #f39c12 !important;
}

.bg-red{
  background-color: #dd4b39 !important;
}

.info-box-text {
  display: block;
  font-weight: 100;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-number{
  float: right;
  margin-top: -20px;
  font-weight: 100;
}

.percent-green{
  background-color: #00a65a !important;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  padding-top: 12px;
  background: white;
  text-align: center;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}

.send-message-icon{
  margin-top: -10px;
}
