<ion-view view-title="Project" class="background-app">
  <ion-content>
    <ion-refresher class="text-white"
                   pulling-text="Pull to refresh..."
                   spinner="android"
                   on-refresh="doRefresh()">
    </ion-refresher>

    <div class="info-box {{accountColor}}">
      <span class="info-box-icon"><i class="ion ion-clipboard"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Account Status</span>
        <span class="info-box-number">{{accountPercent}}%</span>
        <span class="progress-description">
                    Status:<br/> {{accountText}}
         </span>
      </div>
    </div>

    <div class="info-box {{projectColor}}">
      <span class="info-box-icon"><i class="ion ion-erlenmeyer-flask"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Project Status</span>
        <span class="info-box-number">{{projectPercent}}%</span>

        <span class="progress-description">
                    Status:<br/> {{projectText}}
         </span>
      </div>
    </div>


  </ion-content>
</ion-view>
